body {
    font-size: 0.8em;
    font-family: Sans-Serif;
  }

.box {
  border: 1px solid lightgray;
  width: 500px;
  height: 700px;
  display: table-cell;
}
form {
  display: inline;
}
input {
  height : 30px;
  border : 1px solid black;
}